.contact_button{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.contact_button>a:first-child{
     background-color: yellow;
     display: flex;
     padding: 10px 20px;
     font-size: 20px;
     font-weight: 600;
     color: black;
     border-radius: 10px;
}
.contact_button>a:last-child{
    background-color: transparent;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: yellow;
    border:1px solid yellow;
    border-radius: 10px;
}
